@import "tailwindcss";

@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-background-black: oklch(0 0 0);
  --color-alert-blood-red: oklch(0.424 0.228 29.43); 
  --color-hover-deep-maroon: oklch(0.241 0.069 29.00);    
  --color-accent-muted-brown: oklch(0.393 0.054 56.67);  
  --color-text-earth-beige: oklch(0.692 0.081 82.95);       
  --color-highlight-burnt-orange: oklch(0.642 0.170 58.92);  
  --color-text-slate-grey: oklch(0.288 0.016 280.69);       
  --color-accent-dusty-purple: oklch(0.348 0.078 315.79);
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none; /* ensure no background icon */
}
